.container {
  position: absolute;
  border: solid 1px black;
  float: left;
  top: 30%;
  left: 30%;
  transform: 'translate(-50%,-50%)';
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  width: 40%;
  height: 200px;
  background-color: darkslategrey;
}

.overlay {
  position: 'fixed';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: 'rgba(0,0,0,.7)';
  z-index: 1000;
}

.modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.title {
  text-align: start;
  margin-right: 45%;
  color: white;
  font-weight: bold;
}

.reactIcon {
  cursor: pointer;
}
.content {
  margin-top: 5%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
}

.children {
  padding: 10px;
  color: white;
}

button {
  width: 50px;
  margin-left: 45%;
  background-color: blue;
  border-radius: 2px;
  color: black;
}
