.container {
  text-align: center;
}

.heading {
  color: green;
}
.category {
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.categoryText {
  color: rgb(111, 0, 255);
}
