.container {
  text-align: center;
}

.heading {
  color: rgba(13, 235, 13, 0.952);
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
}

.category {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.categoryText {
  font-size: larger;
  color: rgb(111, 0, 255);
}

.categoryDescription {
  font-size: 10px;
  padding: 10px;
  color: palevioletred;
}
